<!DOCTYPE html>
<html>
  {% extends "navbar.html" %}
  <body>
    {% block content %}
    {% if session.logged_in %}
    <div class="container">
      <div class ="row">
          <div class="col-sm-12 py-4 text-center">
          <h1 class="writing">Welcome to MathWizz!</h1>
          <div class="d-flex justify-content-center align-items-center">
          <div class="d-flex flex-column boxb">
            <h1 class="writing">What Figure do you want the Area of ?</h1>
            <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry/area/rectangle'">Rectangle</button></p>
            <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry/area/circle'">Circle</button></p>
            <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry/area/triangle'">Triangle</button></p>
            <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry'">Geometry Menu</button></p>
              </div>
          </div>
    </div>
    {% else %}
      <script>
            window.location.href = "/login";
        </script>
    {% endif %}
    {% endblock %}
  </body>
</html>