<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
      <!-- Bootstrap JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel ="stylesheet" href="{{ url_for('static', filename='styles.css')}}"> 
    </head>
    
    <style>
        form  { 
        display: flex;     
        flex-direction: column;
       }
      
       p{
         display: flex;  
         flex-direction: row;
         align-items: center;
        }
    
      label 
      { 
      flex: 1;
     }
  
     input { 
      flex: 2; 
     }
    </style>
{% extends "navbar.html" %}
<body>
{% block content %}
{% if session.logged_in %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Warning!</strong> {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
    <form action="/changeuser" method ="POST">
       <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}"/>
    <div class="form-group">
      <p class="writing">
        <label for="originalemail">Enter email of user:</label>
        <input type="text" name="originalemail"  placeholder="Enter Original Email ">
      </p>
    </div>
    <div class="form-group">
      <p class="writing">
        <label for="Username">Edit Username:</label>
      <input type="text" placeholder="Enter Username" name="Username"></p>
    </div>

    <div class="form-group">
      <p class="writing">
        <label for="Email">Edit Email:</label>
        <input type="email" placeholder="Enter Email" name="Email"/></p>
    </div>

    <div class="form-group">
      <p class="writing"> 
        <label for="Age">Edit Age:</label>
        <input type="number"  placeholder="Age must be greater than 13" name="Age"  min="13" value="'13"/></p>
    </div>
    
    <div class="form-group">
      <p class="writing">
        <label for="LastName">Edit First Name:</label>
        <input type="text" placeholder="Enter FirstName" name="LastName"></p>
    </div>

    <div class="form-group">
      <p class="writing">
        <label for="LastName">Edit Last Name:</label>
        <input type="text" placeholder="Enter LastName" name="LastName"></p>
    </div>

  
    
   <div class="form-group">
      <p class="writing">
        <label for="Password">Change Password:</label>
      <input type="text" placeholder="Enter Password" name="Password" /></p>
    </div>

   
  <div class="form-group text-center">
    <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  </div>
</div>
{% else %}
<script>
    window.location.href = "/login";
</script>
{% endif %}
{% endblock %}
</body>
</html>