<!DOCTYPE html>
<html lang="en">
  {% extends "navbar.html" %}
  <body>
    {% block content %}
    {% if session.logged_in %}
    <div class="container">
        <div class ="row">
            <div class="col-sm-12 py-4 text-center">
            <h1 class="writing">Welcome to MathWizz!</h1>
            <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column boxb">
                <h1 class="writing">Quadratic Solver</h1>
                <h3 class="writing">Enter a quadratic equation to solve:<br></h3>
                <form action="/algebra/solvequadratic" method = "POST">
                  <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}"/>
                    <div class="d-flex flex-column">
                      <label></label>
                      <div>
                          <input type="text" name="aval" required><font size="+2">x</font>
                          <span><font size="+2">&#178;</font></span><font size="+2"> + </font>
                          <input type="text" name="bval" required><font size="+2">x + </font>
                          <input type="text" name="cval" required> <font size="+2">= 0</font>
                     </div>
                    </div>
                    <br>
                    <p><button type="submit" class="btn btn-primary btn-lg">Solve</button></p>
                    </form>
                    <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/algebra'">Different Algebra Problem?</button></p>
                    <p><button type="home" class="btn btn-primary btn-lg" onclick="window.location.href='/'">Go Back Home</button></p>
                    {%if error%}
                    {% if error == 500 %}
                      <div class="error">Invalid Input. Try Again</div>
                    {% else %}
                     <div class="error">{{error}}</div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
    </div>
    {% else %}
    <script>
        window.location.href = "/login";
    </script>
    {% endif %}
    {% endblock %}
  </body>
</html>