<!DOCTYPE html>
<html>
  {% extends "navbar.html" %}
  <body>
    {% block content %}
    {% if session.logged_in %}
    <div class="container">
        <div class ="row">
            <div class="col-sm-12 py-4 text-center">
            <h1 class="writing">Welcome to MathWizz!</h1>
            <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column boxb">
              <h1><math xmlns="http://www.w3.org/1998/Math/MathML" display="inline">{{ result|safe }}</math></h1>
                <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry/area'">Get The Area of Another Shape</button></p>
                <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry'">Back To Geometry Menu</button></p>
                <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/'">Go Back Home</button></p>
            </div>
            </div>
            </div>
    </div>
    {% else %}
      <script>
            window.location.href = "/login";
        </script>
    {% endif %}
    {% endblock %}
  </body>
</html>