<!DOCTYPE html>
<html>
  {% extends "navbar.html" %}
  <body>
    {% block content %}
    {% if session.logged_in %}
    
    <div class="container">
        <div class ="row">
            <div class="col-sm-12 py-4 text-center">
            <h1 class="writing">Welcome to MathWizz!</h1>
            <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column boxb">
              <h1 class="writing">Enter the radius of the sphere</h1>
                <form method="POST" action="/geometry/volume/solvesphere">
                  <div class="d-flex flex-column">
                    <div>
                      <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}"/>
                        <label for ="float">Enter a floating point number:</label>
                        <input type="number" name="radius" step = "0.0000000001" min ="0.0000000001" max="1000000000000.0000000001" required>
                   </div>
                   <br><br>
                  </div>
                    <label for="units">Select a unit of measurement:</label>
                    <select name="units" id="units" required="required">
                        <option selected="selected">centimeters</option>
                        <option>meters</option>
                        <option>inches</option>
                        <option>yards</option>
                    </select>
                  <p><button type="submit" class="btn btn-primary btn-lg">Solve</button></p>
                </form>
                <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry/volume'">Volume of Different Shape?</button></p>
                <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry'">Different Geometry Problem</button></p>
                <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/'">Go Back Home</button></p>
                </div>
            </div>
    </div>
    
    {% else %}
      <script>
            window.location.href = "/login";
        </script>
    {% endif %}
    {% endblock %}
  </body>
</html>