<!DOCTYPE html>
<html>
  {% extends "navbar.html" %}
  <body>
    {% block content %}
    {% if session.logged_in %}
   
    <div class="container">
        <div class ="row">
            <div class="col-sm-12 py-4 text-center">
            <h1 class="writing">Welcome to MathWizz's Geometry Solver!</h1>
            <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column boxb">
              <h1 class="writing">What Figure do you want the Volume of ?</h1>
              <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry/volume/sphere'">Sphere</button></p>
              <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry/volume/rectangularprism'">Rectangular Prism</button></p>
              <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/geometry/volume/cone'">Cone</button></p>
              <p><button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/'">Go Back Home</button></p>
                </div>
            </div>
    </div>
    {% else %}
      <script>
            window.location.href = "/login";
        </script>
    {% endif %}
    {% endblock %}
  </body>
</html>